<div class="p-3 bg-blue-500 text-white">
  <div class="container mx-auto flex flex-col md:flex-row md:justify-between">
    <div class="w-full md:w-1/3">
      <h1 class="text-xl md:text-2xl">TaskList-App</h1>
      <p *ngIf="viewMovil" class="text-end">
        <button (click)="togleMenu()" class="text-lg hover:font-semibold border-b-2 border-blue-500 hover:border-white"><i class="fa-solid fa-bars" style="color: #ffffff;"></i></button>
      </p>
    </div>
    <div class="w-full md:w-2/3">
      <nav *ngIf="showMenu" class="flex flex-col md:flex-row md:justify-end items-center md:items-center gap-3">
        <li *ngIf="isLoged" class="list-none"><a routerLink="/app/user" class="text-2xl md:text-lg hover:font-semibold border-b-2 border-blue-500 hover:border-white">Perfil</a></li>
        <li *ngIf="isLoged" class="list-none"><a routerLink="/app/task" class="text-2xl md:text-lg hover:font-semibold border-b-2 border-blue-500 hover:border-white">Tasks</a></li>
        <li *ngIf="rol == '0' " class="list-none"><a routerLink="/app/category" class="text-2xl md:text-lg hover:font-semibold border-b-2 border-blue-500 hover:border-white">Status</a></li>
        <li *ngIf="!isLoged" class="list-none"><a routerLink="/login" class="text-2xl md:text-lg hover:font-semibold border-b-2 border-blue-500 hover:border-white">Login</a></li>
        <li *ngIf="isLoged" class="list-none"><button (click)="closeSession()" class="cursor-pointer text-2xl md:text-lg hover:font-semibold border-b-2 border-blue-500 hover:border-white">Logout</button></li>
      </nav>
    </div>
  </div>
</div>
